    # Build artifacts
    [Bb]in/
    [Oo]bj/

    # Package cache
    packages/

    # Visual Studio files
    .vs/
    *.suo
    *.user
    *.bak
    *.log
    *.pdb
    *.exe
    *.dll
    *.cache

    # Rider files
    .idea/

    # Other common ignorable files
    *.tmp
    *.userprefs