Pseudo scope:

This is an exciting opportunity to work on a project for a US based client who has built a well known app,
 connecting people and suitable doctors depending on their specialist requirements.

------------------------------------------------------------------------------
Techs:
  
 Security Principles: Authentication and Authorization
AWS Technologies: DynamoDB, Lambda, SQS/SNS, Kinesis